*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(180, 100%, 97%);
}

.calc_container {
  max-width: 300px;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 15%);
}

.screen {
  width: 100%;
  margin-bottom: 25px;
  border: none;
  padding: 30px;
  border-radius: 10px;
  font-size: 50px;
  text-align: left;
  overflow: hidden;
  color: #fff;
  background-color: hsl(0, 0%, 15%);
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

button {
  width: 40px;
  height: 40px;
  font-size: 25px;
  border: none;
  border-radius: 50px;
  background-color: hsl(0, 0%, 30%);
  color: #fff;
  font-weight: bold;
  padding: auto 10px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}
button:active {
  background-color: hsl(0, 0%, 50%);
  transform: scale(0.99);
}

.calc__color {
  background-color: hsl(39, 100%, 55%);
}

.calc__color:hover {
  background-color: hsl(39, 100%, 65%);
}

.calc__color:active {
  background-color: hsl(39, 100%, 75%);
}

.owner {
  color: #fff;
  text-align: right;
  font-size: 10px;
}

@media (max-width: 500px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e0e3e6;
  }

  .calc_container {
    max-width: 200px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  }

  .screen {
    width: 100%;
    margin-bottom: 25px;
    border: none;
    padding: 30px;
    border-radius: 10px;
    font-size: 23px;
    text-align: left;
    overflow: hidden;
    color: #000e1a;
    background-color: #fff;
  }

  .btns {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  button {
    width: 30px;
    height: 35px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    background-color: #eee;
    color: #444;
    font-weight: bold;
    padding: auto 10px;
    cursor: pointer;
    align-self: left;
  }

  button:hover {
    background-color: hsl(0, 0%, 97%);
  }
  button:active {
    background-color: hsl(0, 0%, 100%);
    transform: scale(0.99);
  }

  .calc__color {
    background-color: #eee;
    color: #2fafff;
  }

  .calc__color:hover {
    background-color: hsl(0, 0%, 97%);
  }

  .calc__color:active {
    background-color: hsl(0, 0%, 100%);
  }

  .owner {
    color: #000;
    text-align: right;
    font-size: 10px;
  }
}
